<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>




<ul>
    <li  th:each="schedule : ${schedules}">

        <h2><a th:href="'schedule/view/' + ${schedule.id}" th:text="${schedule.name}"></a></h2>
    </li>

</ul>


<a href="/schedule/add" class="btn btn-info" role="button">Add Workout Plan</a>

<a href="/schedule/remove" class="btn btn-info" role="button">Remove Plan</a>

</body>
</html>