<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${workouts} and ${workouts.size()}">Get ripped add some workouts!!!</p>


<table class="table">

    <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Duration/Set</th>
        <th>Video</th>
    </tr>

    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.name}"></td>
        <td th:text="${workout.notes}"></td>
        <td th:text="${workout.DurationSet.name}"></td>
        <td th:if="${workout.youtube} == null or ${workout.youtube} == ''">No Video</td>
        <td th:unless="${workout.youtube} == null or ${workout.youtube} == ''"><iframe id="ytplayer" type="text/html" width="280" height="158"
                th:src="'https://www.youtube.com/embed/' + ${workout.youtube} + '?enablejsapi=1?'"
                    allowfullscreen="allowfullscreen"></iframe></td>
    </tr>

</table>
<a href="/workout/add" class="btn btn-info" role="button">Add Workout</a>
<a href="/workout/remove" class="btn btn-info" role="button">Remove Workout</a>
<a href="/durationset/add" class="btn btn-info" role="button">Add Duration/Set</a>


</body>
</html>