<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Duration/Set</th>
    </tr>

    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.name}"></td>
        <td th:text="${workout.notes}"></td>
        <td th:text="${workout.DurationSet.name}"></td>

    </tr>
    <hr/>

</table>

<table class="table">

    <tr>
        <th>Username</th>
        <th>Comment</th>

    </tr>

    <tr th:each="comment : ${comments}">
        <td th:text="${comment.username}"></td>
        <td th:text="${comment.comment}"></td>

    </tr>
    <hr/>

</table>

<a href="'/home/add-comment/' + ${scheduleId}" class="btn btn-info" role="button">Add Comment</a>


</body>
</html>